.login-bgPic {
  background-image: url(http://localhost:4000/publicImg/bgpic3.jpg);
  width: 80%;
  margin: 115px auto;
  background-position: top;
  border-radius: 20px;
  height: 70vh;
}

.signup-bgPic {
  background-image: url(http://localhost:4000/publicImg/bgpic3.jpg);
  width: 80%;
  margin: 115px auto;
  background-position: top;
  border-radius: 20px;
  height: 70vh;
}
