.login-bgPic {
  background-image: url(http://localhost:4000/publicImg/bgpic3.jpg);
  width: 75%;
  margin: 7rem auto;
  background-size: cover;
  border-radius: 20px;
  padding: 20px 0;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-bgPic {
  background-image: url(http://localhost:4000/publicImg/bgpic1.jpg);
  width: 75%;
  margin: 7rem auto;
  background-size: cover;
  border-radius: 20px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.narocilo-bgPic {
  background-image: url(http://localhost:4000/publicImg/bgpic3.jpg);
  width: 75%;
  margin: 7rem auto;
  background-size: cover;
  border-radius: 20px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
