.uls {
  display: block;
}

.Active {
  background-color: violet;
}

.Kriteriji {
  position: absolute;
  right: 0;
}

.active-btn {
  background-color: red;
}

.ul-lists {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.ul-list-item {
  position: relative;
  display: block;
  padding: 5px;
  background-color: #fff;
  border: 2px solid rgba(248, 184, 184, 0.15);
}
