:root {
  --greyLight: #f1f1f1;
  --blueBackg: #f5faff;
  --blueDark: #6e8afa;
  --purpleLight: #9ab3f5;
  --blueLight: #70baff;
  --blueShaded: #85c0ff;
  --blueShadedLighter: #f1f6ff;
}

.active {
  background-color: var(--purpleLight) !important;
  color: black !important;
  border: 1px solid var(--blueDark) !important;
}

.Kriteriji {
  position: absolute;
  right: 0;
}

.addPattern {
  position: absolute;
  left: 0;
}

.list-group-item {
  margin: 0.5rem;
  border: 1px solid rgba(248, 184, 184, 0.15);
  transition: ease 0.2s;
  color: black;
}

.list-group-item:hover {
  background-color: var(--blueShadedLighter);
}

.kriteriji_wrapper {
  position: absolute;
  right: 0;
  margin-top: 10px;
}

.date_wrapper {
  margin-left: auto;
}

.button_date {
  border: none;
  outline: none;
  background-color: #cee6ff;
  margin: 5px;
  width: 100%s;
  padding: 5px;
  border-radius: 8px;
}

.button_date:hover {
  background-color: #b3d7ff;
}

.active-button {
  background-color: var(--purpleLight);
  color: black;
  border: 1px solid var(--blueDark);
}

.search_button {
  border: none;
  outline: none;
  background-color: #cee6ff;
  padding: 5px;
  border-radius: 8px;
  float: right;
  margin-right: 1rem;
  transition: ease 0.12s;
}

.search_button:hover {
  background-color: var(--purpleLight);
  color: black;
  transform: scale(1.2);
}

.list-group-item:hover {
  cursor: pointer;
}

.main_wrapper {
  margin-top: 7rem;
  min-height: 80vh;
}

.min_h {
  min-height: 90vh;
}
