.Card {
  height: 40%;
  width: 50%;

  border: 1px solid black;
  display: block;
}

.mw {
  width: 55%;
  margin: 10px auto;
}

.transform-upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

h1 {
  text-align: center;
}

.opis {
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: justify;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: auto;
}

.opis::first-letter {
  text-transform: uppercase;
}

.pointer:hover {
  cursor: pointer;
}

.vsecki {
  display: block;
  margin: 10px auto;
  word-break: keep-all;
  width: 20%;
}

.vsecki:hover {
  cursor: pointer;
}
