:root {
  --purpleDark: #a2a5ff;
  --purpleLight: #9ab3f5;
  --blueDarker: #ccedff;
  --blueLight: #b9fffc;
}

.rec-arrow {
  background-color: var(--blueDarker) !important;
  color: var(--purpleDark) !important;
}

.rec-arrow:hover {
  background-color: var(--purpleDark) !important;
  color: var(--blueDarker) !important;
}
