:root {
  --greyLight: #f1f1f1;
  --greyDark: #929292;
  --blueBackg: #f5faff;
  --blueDarkLighter: #6b88ff;
  --blueLight: #c8e4ff;
  --blueShaded: #e8f3ff;
  --blueShadedLighter: #f1f6ff;
  --purpleLight: #eeceff;
}

.form-box {
  position: relative;
  width: 45vw;
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 10px;
  margin: auto;
}

.float-r {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

#submit {
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: var(--blueDarkLighter);
  color: var(--greyLight);
  transition: ease-in 125ms;
  font-size: 1em;
  margin: 0 auto;
  padding: 5px;
}

#submit:hover {
  background-color: var(--purpleLight);
  color: var(--blueDarkLighter);
  cursor: pointer;
  transform: scale(1.15);
}

.m-135 {
  margin-top: 7rem;
}
