:root {
  --modra: #dff3ff;
}

.opis_wrapper {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
}

#root {
  background-color: var(--modra);
}

.opis_wrapper2 {
  padding-top: 10rem !important;
}

.box {
  display: flex;
  justify-content: space-between;
}

.box > p {
  margin-top: 10vh;
  width: 50%;
}

.img {
  margin: 0 7vw;
}
