* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --blueDark: #023469;
  --blueLight: #d3bff6;
  --blueDarkerish: #000766;
  --blueLighter: #f2f7fdec;
  --purpleLight: #c0a3fa;
  --purpleLighter: #e5d6ff;
  --greyLight: #eeeeee;
  --greyLight1: #dedede;
}

a:link {
  text-decoration: none;
}

p {
  text-align: justify;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--greyLight);
  top: 0;
  transition: top 0.3s;
  position: fixed !important;
  z-index: 1;
  padding: 0 !important;
}

.logo {
  display: inline-flex;
  margin: 2rem;
  height: 2.5rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem !important;
  margin-right: 20px;
}

.pIcon {
  margin-top: 1vh;
}

.pIcon:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--purpleLighter);
  padding: 2px;
}

nav {
  background-color: var(--blueLighter) !important;
}

.nav-link {
  margin: 10px;
  /* margin-top: 2.5rem; */
  transition: ease 125ms;
  color: #004c9e;
}

.nav-link:hover {
  cursor: pointer;
  color: #c0a3fa;
}

.container-fluid > h1 {
  color: var(--blueDarkerish);
  text-transform: uppercase;
  /* margin-top: 20px; */
  margin-top: 3vh;
  font-size: 2em;
}
