* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --blueDark: #0960bd;
  --blueLight: #75c2f6;
  --blueLighter: #d4e5ff;
  --purpleLight: #b58eff;
  --greyLight: #eeeeee;
  --greyLight1: #dedede;
}

a:link {
  text-decoration: none;
}

p {
  text-align: justify;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--greyLight);
  top: 0;
  transition: top 0.3s;
  position: fixed;
  z-index: 1;
}

.logo {
  display: inline-flex;
  margin: 20px;
}

.svg {
  height: 50px;
}

.logotip > p {
  font-weight: 700;
  font-size: 25px;
  font-style: bold;
  color: black;
  display: block;
  margin-top: 45px;
}

.logotip {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 17px;
  margin-right: 20px;
}

li {
  margin: 10px;
  transition: ease 125ms;
  color: var(--blueLight);
}

li:hover {
  cursor: pointer;
  color: var(--purpleLight);
}

.logoList {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.logoList > img {
  height: 30px;
  display: block;
  margin: auto;
}

.logoList > img:hover {
  background-color: var(--blueLighter);
  border-radius: 7px;
  cursor: pointer;
}

.pIcon:hover {
  cursor: pointer;
}
